<h2>Створити студента</h2>
<form (ngSubmit)="createStudent()">

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Ім'я</mat-label>
      <input matInput type="text" [(ngModel)]="student.name" name="name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type="text" [(ngModel)]="student.username" name="username" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="student.email" name="email" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Пароль</mat-label>
      <input matInput type="password" [(ngModel)]="student.password" name="password" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Середній бал</mat-label>
      <input matInput type="number" [(ngModel)]="student.averageGrade" name="averageGrade" required>
    </mat-form-field>
  </div>



  <div>
    <mat-form-field appearance="fill">
      <mat-label>Факультет</mat-label>
      <mat-select [(ngModel)]="student.faculty" name="faculty" required>
        <mat-option value=1>ФІОТ</mat-option>
        <mat-option value=2>ІПСА</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Спеціальність</mat-label>
      <mat-select [(ngModel)]="student.specialty" name="specialty" required>
        <mat-option value="121">121</mat-option>
        <mat-option value="122">122</mat-option>
        <mat-option value="123">123</mat-option>
        <mat-option value="124">124</mat-option>
        <mat-option value="126">126</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Курс</mat-label>
      <mat-select [(ngModel)]="student.studyYear" name="studyYear" required>
        <mat-option value="First">1</mat-option>
        <mat-option value="Second">2</mat-option>
        <mat-option value="Third">3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary" type="submit">Створити студента</button>
  </div>

</form>
