<!-- student-card.component.html -->
<mat-card class="student-card">
    <mat-card-header>
      <mat-card-title>{{ student.name }}</mat-card-title>
      <mat-card-subtitle>Середній бал: {{ student.averageGrade | number:'1.2-2' }}</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
        <!-- <p>Група: {{ student.group }}</p> -->
        <div>Факультет: {{ student.faculty }}</div>
        <div>Спеціальність: {{ student.specialty }}</div>
        <div>Курс: {{ student.studyYear }}</div>
    </mat-card-content>
  </mat-card>
  