<!-- student-card.component.html -->
<mat-card class="student-card">
    <mat-card-header>
      <mat-card-title>{{ student.name }}</mat-card-title>
      <mat-card-subtitle>Середній бал: {{ student.averageGrade | number:'1.2-2' }}</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
        <!-- <p>Група: {{ student.group }}</p> -->
        <div>Факультет: {{ student.faculty }}</div>
        <div>Спеціальність: {{ student.specialty }}</div>
        <div>Курс: {{ student.studyYear }}</div>

            <!-- <h3>Enrolled Courses:</h3>
            <div *ngFor="let course of studentCourses">
                <span><a [routerLink]="['/courses', course.id]">{{ course.title }}</a></span>
                <span> Priority: {{ getCoursePriority(course.id) }}</span>
            </div> -->
          <div *ngIf="isPlacementExecuted">
            <h3>Enrolled Courses:</h3>
            <div *ngFor="let studyComponentGroup of studentPriorities.coursesPriorities | keyvalue">
              <!-- Study component title -->
                <h4>{{ studyComponentGroup.key }}</h4> 

                <div *ngFor="let coursePriority of studyComponentGroup.value | keyvalue">
                    <div *ngIf="isStudentEnrolled(coursePriority.key)">
                        <span>
                            <a [routerLink]="['/courses', getCourseId(coursePriority.key)]">{{ coursePriority.key }}</a>
                          </span>
                          <span> Priority: {{ getCoursePriority(coursePriority.key) }}</span>
                    </div>
              </div>
            </div>
          </div>

          <div *ngIf="!isPlacementExecuted">
            <div *ngFor="let studyComponentGroup of availableCoursesByStudyComponent | keyvalue">
              <!-- Study component title -->
                <h4>{{ studyComponentGroup.key }}</h4>
                <div *ngFor="let course of studyComponentGroup.value">
                  <span>
                    <a [routerLink]="['/courses', course.id]">{{ course.title }}</a>
                    <mat-form-field appearance="fill">
                      <mat-label>Set priority</mat-label>
                      <mat-select [(ngModel)]="coursePrioritiesToSet[studyComponentGroup.key][course.title]" required>
                        <!-- TODO: make options to contain only items that weren't selected yet (in other words, priorities must be unique) -->
                        <mat-option *ngFor="let priority of generatePriorityOptions(studyComponentGroup.value.length)" [value]="priority">
                          {{ priority }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </span>
                </div>
              </div>
            <button mat-button color="primary" (click)="submitPriorities()">Submit Priorities</button>
          </div>
    </mat-card-content>
  </mat-card>
  