<!-- course-list.component.html -->
<div class="container">
    <h2>Дисципліни</h2>

    <div *ngIf="isPlacementExecuted">
      <button mat-raised-button 
      color='warn'
      (click)="unenrollEveryone()">
      Скасувати розподіл
      </button>
      <span>
        Efficiency: {{ placementEfficiency | number:'1.2-2' }}
      </span>
    </div>

    <div *ngIf="!isPlacementExecuted">
      <button mat-raised-button 
      color='primary'
      (click)="runGBPAlgorithm()">
      Розподілити алгогритмом GBP
      </button>

      <button mat-raised-button 
      color='warn'
      (click)="runATBPAlgorithm()">
      Розподілити алгогритмом ATBP
      </button>

      <button mat-raised-button
      color="primary"
      (click)="addCourse()">
      Додати дисципліну
      </button>

      <button mat-raised-button
      color="primary"
      (click)="setRandomPriorities()">
      Призначити випадкові пріоритети
      </button>

      <button mat-raised-button
      color="accent"
      (click)="setCloseToRealPriorities()">
      Призначити близькі до реальних пріоритети
      </button>
    
    </div>

    <div class="course-cards">
      <mat-card *ngFor="let course of courses">
        <mat-card-header>
          <mat-card-title center><a [routerLink]="['/courses', course.id]">{{ course.title }}</a></mat-card-title>
          <!-- <mat-card-subtitle>{{ course.description }}</mat-card-subtitle> -->
          <mat-card-subtitle>Ліміт студентства: {{ course.quota }}</mat-card-subtitle>
          <mat-card-subtitle>Освітній компонент: {{ course.studyComponent }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- <p>{{ course.description }}</p> -->
          <div *ngIf="isPlacementExecuted">
          <button mat-raised-button (click)="toggleVisibility(course.id)">Студентство</button>
          <ol *ngIf="visibility.get(course.id)">
            <li *ngFor="let student of getEnrollmentsForCourse(course)?.students">
              <a [routerLink]="['/students', student.id]">{{ student.name }}</a>
              <!-- Add other enrollment details as needed -->
            </li>
          </ol>
          </div>
          <div *ngIf="!isPlacementExecuted">
            <span>
              <button mat-raised-button color="accent" (click)="editCourse(course)">Edit</button>
            </span>
            <span>
              <button mat-raised-button color="warn" (click)="deleteCourse(course.id)">Delete</button>
            </span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  